name: Build qcow2 image

on:
  push:
    branches: master

jobs:
  build:
    runs-on: ubuntu-latest
    container: archlinux
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run build.sh
        shell: bash
        run: ./build.sh
      - name: Archive built image
        uses: actions/upload-artifact@v3
        with:
          name: archfile.qcow2
          path: archfile.qcow2
